
.projects_title{
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    border-inline: 2px solid white ;
}

.projects_box_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-inline: 2px solid white ;
}