.footer {
  border-bottom: 2px solid white;
  border-inline: 2px solid white;
  padding: 10px 20px;
  text-align: center;
}
@media (max-width: 768px) {
  .footer {
    padding: 15px 20px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 20px 15px;
    font-size: 12px;
  }
}
